- apiVersion: v1
  kind: Secret
  metadata:
    name: {{appname}}-reaper-secrets
    labels:
      app: {{appname}}-reaper
  type: Opaque
  data:
    cassandra-user: "{{ cassandra_user | b64encode }}"
    cassandra-password: "{{ cassandra_pw[env_domain] | b64encode }}"

