- apiVersion: v1
  kind: Service
  metadata:
    name: {{appname}}-reaper
    labels:
      app: {{appname}}-reaper
  spec:
    ports:
      - name: http
        port: {{reaper_instance_port}}
        protocol: TCP
        targetPort: {{reaper_instance_port}}
      - name: admin
        port: {{reaper_instance_port_admin}}
        protocol: TCP
        targetPort: {{reaper_instance_port_admin}}
    selector:
      app: {{appname}}-reaper

