INSTALL_PATH={{ arender_home }}/renditionService
arender.configurations.port=1789
arender.configurations.port.rest=1990
arender.configurations.hostname= {{ ansible_eth0.ipv4.address }}
arender.configurations.service.check=0
arender.configurations.xms=2048
arender.configurations.xmx=2048
arender.install.imagemagick.portable=true
arender.install.ffmpeg.portables=true
arender.silent.install=true