- apiVersion: v1
  kind: Service
  metadata:
    name: {{appname}}-blackbox
    labels:
      app: {{appname}}-blackbox
  spec:
    ports:
      - name: http
        port: {{blackbox_instance_port}}
        protocol: TCP
        targetPort: {{blackbox_instance_port}}
    selector:
      app: {{appname}}-blackbox

