- apiVersion: v1
  kind: Service
  metadata:
    name: {{appname}}-alertmanager
    labels:
      app: {{appname}}-alertmanager
  spec:
    ports:
      - name: http
        port: {{alertmanager_instance_port}}
        protocol: TCP
        targetPort: {{alertmanager_instance_port}}
    selector:
      app: {{appname}}-alertmanager
    type: "ClusterIP"

