- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: {{appname}}-grafana-datasources
    labels:
      app: {{appname}}-grafana
  data:
    datasources.yml: |
      apiVersion: 1
      
      deleteDatasources:
        - name: Prometheus
          orgId: 1
      
      datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        orgId: 1
        url: http://{{appname}}-prometheus:{{prometheus_instance_port}}
        basicAuth: false
        withCredentials: false
        isDefault: true
        jsonData:
           tlsSkipVerify: true
           tlsAuth: false
           tlsAuthWithCACert: false
        secureJsonData:
          tlsCACert: "..."
          tlsClientCert: "..."
          tlsClientKey: "..."
        version: 1
        editable: true

