<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="{{ arender_home }}/{{ arender_dir }}/log"/>
    <appender name="SERVER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/arender-PDFBoxEngine.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>arender-PDFBoxEngine.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>100</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>PDFBOX - %date %level [%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="info">
        <!--appender-ref ref="STDOUT" /-->
        <appender-ref ref="SERVER" />
    </root>
</configuration>
