export SPARK_MASTER_PORT={{spark_port_master}}
export SPARK_WORKER_PORT={{spark_port_worker}}
export SPARK_LOCAL_IP={{ ansible_default_ipv4.address }}

export TDC_HOME={{ spark_home }}/current_spark/conf
